{% extends 'privateLayout.html' %}
{% block content %}
<!-- Flash message -->
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for msg in messages %}
        <p>{{msg}}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}
<div class="container">
  <div class="row">
    <h1>Change Email</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <form action="/changeEmail" method="POST" class="box">
      <div class="col-auto">
        <label name="exampleFormControlInput1" class="form-label">Current Email</label>
        <input name="current_email" type="email" class="form-control" id="exampleFormControlInput1">
      </div>
      <div class="col-auto">
        <label for="exampleFormControlInput1" class="form-label">New Email</label>
        <input name="new_email" type="email" class="form-control" id="exampleFormControlInput1">
      </div>
      <br/>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Submit</button>
      </div>
      <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" />
    </form>
  </div>
</div>
{% endblock %}