{% extends 'privateLayout.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <h1>Change Password</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <form action="/changePassword" method="POST" class="box">
      <div class="col-auto">
        <label for="alt_pwd_current" class="form-label">Current Password</label>
        <input name="current_password" type="password" class="form-control" id="alt_pwd_current">
      </div>
      <div class="col-auto">
        <label for="alt_pwd_new" class="form-label">New Password</label>
        <input name="new_password" type="password" class="form-control" id="alt_pwd_new">
      </div>
      <br/>
      <!-- Flash message -->
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for msg in messages %}
              <p>{{msg}}</p>
            {% endfor %}
          {% endif %}
        {% endwith %}
      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Submit</button>
      </div>
      <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" />
    </form>
  </div>
</div>
{% endblock %}