{% extends 'privateLayout.html' %}
{% block content %}
<!-- Flash message -->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for msg in messages %}
      <div class="alert alert-danger">Error: {{msg}}</div>
    {% endfor %}
  {% endif %}
{% endwith %}
<!-- Button for modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createchore">
  Create New Chore
</button>
<!-- Modal for creating chore -->
<div class="modal fade" id="createchore">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Create New Chore</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal Body: Chore Creation Functionality -->
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <form action="/dashboard" method="POST" class="box">
              <div class="col-auto">
                <label for="create_chorename" class="form-label">Task Name</label>
                <input name="task" type="text" class="form-control" id="create_chorename">
              </div>
              <div class="col-auto">
                <label for="create_choredesc" class="form-label">Description</label>
                <textarea name="description" type="text" class="form-control" rows="3" id="create_choredesc"></textarea>
              </div>
              <br/>
              <!-- Flash message -->
              {% with messages = get_flashed_messages() %}
                {% if messages %}
                  {% for msg in messages %}
                    <div class="alert alert-danger">Error: {{msg}}</div>
                  {% endfor %}
                {% endif %}
              {% endwith %}
              <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-3">Submit</button>
              </div>
              <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" />
            </form>
          </div>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

<!-- Chores table -->
<table class="table table-striped">
    <thead>
        <tr>
            <th>Task</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        {% for chore in chores %}
        <tr>
          <td>{{ chore[0] }}</td>
          <td>{{ chore[1] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}