{% extends 'privateLayout.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <h1 class="display-1">Delete Account</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <form action="/deleteAccount" method="POST" class="box">
      <div class="col-auto">
        <label name="deleteAcc" class="form-label">Enter Username</label>
        <input name="deleteAcc" type="text" class="form-control" id="exampleFormControlInput1">
      </div>
      <div class="col-auto">
        <label for="password" class="form-label">Enter Password</label>
        <input name="password" type="password" class="form-control" id="exampleFormControlInput1">
      </div>
      <br/>
      <!-- Flash message -->
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for msg in messages %}
            <p>{{msg}}</p>
          {% endfor %}
        {% endif %}
      {% endwith %}
      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Confirm Deletion</button>
      </div>
      <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" />
    </form>
    </div>
  </div>

{% endblock %}