{% extends 'layout.html' %}
{% block content %}
<!-- Flash message -->
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for msg in messages %}
        <p>{{msg}}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}
<div class="container">
  <div class="row">
    <h1>Sign Up</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <form action="/signup" method="POST" class="box">
      <div class="col-auto">
        <label name="SignUpUSERNAME" class="form-label">Username</label>
        <input name="username" type="text" class="form-control" id="exampleFormControlInput1" placeholder="myusername">
      </div>
      <div class="col-auto">
        <label name="SignUpEMAIL" class="form-label">Email address</label>
        <input name="email" type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>
      <div class="col-auto">
        <label for="SignUpPASSWORD" class="form-label">Password</label>
        <input name="password" type="password" class="form-control" id="exampleFormControlInput1">
      </div>
      <br/>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Submit</button>
      </div>
      <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" />
    </form>
    <div>
      <a href="login">Login instead?</a>
    </div>
  </div>
</div>
{% endblock %}